<% include header %>
 
         <h1>How Can We Help You Today??</h1>
        <div class="row">
            <div class="col-md-12">
          
            </div>
        </div>
        <div class="row">
           <div class="col-md-3">
        </div>
        <form class="col-md-6" action="thanks.html">
        <div class="form-group">
        <label for="First">Firstname:</label>
        <input type="name" class="form-control" id="firstname">
          </div>
          <div class="form-group">
            <label for="Last">Lastname:</label>
            <input type="name" class="form-control" id="lastname">
          </div>
        <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email1">
        </div>
        <div class="form-group">
        <label for="Query:">Query:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
         
          <button type="submit" class="btn btn-default">submit</button>
        </form>
        <div class="col-md-3 nav">
        </div>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <% include footer %>
